
.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.btn_small_one {
    height: 24px;
    width: 105px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.task_header{
    margin-top: 5px;
}


.heading {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}






