/*body {*/
/*    background-color: red; */

/*}?*/

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.btn_small_one {
    height: 24px;
    width: 105px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}







