{% extends 'base.html' %} {% block content %}

<h3>Add an experiment</h3>
<div class="row">
	<form action="" method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">device_hub</i>
				<input id="category_name" name="category_name" type="text" class="validate">
				<label for="icon_prefix">Experiment Name</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">post_add</i>
				<textarea name="description" id="description" class="materialize-textarea"></textarea>
				<label for="icon_telephone">Experimental method</label>
			</div>
		</div>
		<div class="row">
			<div class="switch">
		    <label>
            Non hazardous
            <input type="checkbox">
            <span class="lever"></span>
            Hazardous
            </label>
			</div>
		</div>
	</form>
</div>


{% endblock %}