{% extends 'base.html' %}
{% block content %}

        {% for task in tasks %}
        {{task.Category_name}}
        {{task.place_name}}
        {{task.decription}}
        {{task.highly_important}}
        {{task.beginning_date}}
    {% endfor %}
<ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>


<div class="navbar-fixed">
    
  <nav class="nav-extended" >
    <div class="nav-wrapper">
    <div class="card-panel teal lighten-2">
      <a href="#" class="brand-logo center">Easy Chemistry</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="hide-on-med-and-down">
       
      </ul>
    
    <div class="nav-content center">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#test1">Experiments</a></li>
        <li class="tab"><a class="active" href="#test2">Biochemistry Experiements</a></li>
        <li class="tab "><a href="#test3">Facts</a></li>
        
      </ul>
      </div>
   </nav>
    </div>
    </div>
    </div>

{% endblock %}